@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Courier Prime', monospace;
   font-family: 'Open Sans', sans-serif;
   font-family: 'PT Serif', serif;
}

html{
   scroll-behavior:smooth;
}

/* Comentario */
nav{
   background-image: linear-gradient(to bottom, #070537, #00356a, #00659b, #0099c7, #12cfeb);
   font-weight: 700;
   position: fixed;
   width: 100%;
   font-size: 1.8rem;
   text-shadow: .3rem .1rem black
}

nav ul{
   list-style: none;
   display: flex;
   justify-content: center;
   
}

nav ul li{
   padding: 1rem;
   
}

nav ul li a{
   text-decoration: none;
   color: #fff;
   padding: 1rem;
   
}

body nav ul li a{
   border-style:solid;
   border-color: #fff;
   border-width: .1rem;
   border: .2px solid;
   padding: 1rem;
   font-size: 1.1vw;
   font-weight: 400;
   border-radius: 1.9rem;
   display: flex;
   width: 86%;
   height: 50%;
   justify-content: center;
   box-shadow: .03rem .3rem 1rem #ffffff80;
}
body nav ul li a:hover{
   transform: scale(1.1);
   transition: all .5s ease-out;
   
   
}



header{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5rem;
}

header div#img-tech {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 50%;
   padding-top: 3rem;
}

header div#img-tech:hover {
   transform: scale(1.05);
   transition:all .5s ease-out;
}

header div p{
   font-size: 2vw;
   font-weight: 700;
   color: #c91212ee;
   
}

header div span{
   font-size: 1vw;
   font-weight: 500;
   color: #b14848f5;
   margin-top:5rem;
   line-height: 5rem;
}

header div#img-tech img{
   width: 50%;
   border-radius: 5rem;

}

section#sobre-mim{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4rem;
   background-color: #22577a;
}


section#sobre-mim div img{
   width: 80%;
   border-radius: 45%;
   display: flex;
   margin: auto;
   border-style:solid;
   border-color: #fff;
   border-width: .5rem;
   background-image: linear-gradient(to bottom, #070537, #00356a, #00659b, #0099c7, #12cfeb);


}
section#sobre-mim div a img:hover {
   transform: scale(1.05);
   transition:all .5s ease-out;

}

section#sobre-mim div p{
   font-size: 1.1vw;
   text-align: justify;
   color: #fff;
   line-height: 3.3rem;
   display: block;
   margin: auto;
   
}

section#projetos{
   display: flex; /*Acioa o flex-box e colca um item do lado do outro automaticamente*/
   justify-content: center; /*Alinha os itens horizontalmente*/
   align-items: center; /*Alinha os itens verticalmente*/
   padding: 2rem; /*Espaçamento interno nos elementos*/
   text-align: center;

}

section#projetos div img{
   display: flex;
   margin: auto;
   width: 60%;
   border-radius: 4rem;
   flex-wrap: wrap;
   align-items: center;
   text-align: justify;
   font-size: 1.3rem;
   text-align: center;
   justify-content: center;
   border-radius: 3rem;
   
}

section#projetos div h2{
   text-align: center;
   padding: 1rem;
   justify-content: center;
   align-items: center;
}

section#projetos div p{
   text-align: justify;
   font-size: 1.2rem;
   justify-content: center;
   display: flex;
   align-items: center;
   padding: 1rem;
   line-height: 1.9rem;
}

section#projetos div{
   margin-top: auto;
   padding: 3rem;
   
}
section#projetos a {
   text-decoration: none;


}

section#projetos div  button{
   border: 1px solid #3359ec;
   background-color: #fff;
   color: #3359ec;
   padding: 1rem;
   font-size: .9vw;
   font-weight: 600;
   border-radius: .5rem;
   display: flex;
   margin: auto;
   margin-top: 2rem;
   cursor: pointer;
   transition: .6s ease-out;
   text-decoration: none;
   
}

section#projetos div button:hover{
   background-color: #3359ec;
   color: #fff;
   transform: scale(1.2);
   text-decoration: none;
}


section#habilidades{
   padding: 3rem 10rem 3rem 10rem;
   background-color: #f8f9fa;
}

section#habilidades h2{
   text-align: center;
   font-size: 2.5rem;
   margin-bottom: 2rem;
}

section#habilidades p{
   padding: 1rem;
   font-size: 1.6rem;
   font-weight: 700;
}

section#habilidades div{
   display: flex;
   border: 1px solid #22577a;
   border-radius: 1rem;
   background-image: linear-gradient(to right, #22577a, transparent);
   font-size: 1.4rem;
}

section#habilidades div span#python{
   background-color: #3359ec;
   color: #fff;
   text-align: center;
   padding: .3rem;
   border-radius: 1rem;
   width: 80%;
   
   
}

section#habilidades div span#html{
   background-color: #3359ec;
   color: #fff;
   text-align: center;
   padding: .3rem;
   border-radius: 1rem;
   width: 50%;
}

section#habilidades div span#css {
   background-color: #3359ec;
   color: #fff;
   text-align: center;
   padding: .3rem;
   border-radius: 1rem;
   width: 30%;
}

section#habilidades div span#Javascript {
   background-color: #3359ec;
   color: #fff;
   text-align: center;
   padding: .3rem;
   border-radius: 1rem;
   width: 10%;
}

section#habilidades div span#Postgree {
   background-color: #3359ec;
   color: #fff;
   text-align: center;
   padding: .3rem;
   border-radius: 1rem;
   width: 10%;
}

section#contato {
   padding: 3rem 10rem 3rem 10rem;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background-color: #eef0f2;

}
section#contato div#redes{
   width: 100%;

}

section#contato div#redes h3{
   text-align: center;
   font-size: 2.5rem;
   margin-bottom: 2rem;

}

section#contato div#redes div#icons{
   display: flex;
   justify-content: center;

}
section#contato div#redes div#icons a{ 
   text-decoration: none;
   color:#0f2c9e;
   font-size: 4rem;
   padding: 2rem;
   transition: all .4s ease-out;



}
section#contato div#redes div#icons a:hover{
   color:#3359ec;
}

section#contato div#redes div#icons a i{
   transition: all .4s ease-out;
}

section#contato div#redes a i:hover{
   transform: scale(1.2);


}

section#contato div#form{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
section#contato div#form h3{
   width: 100%;
   text-align: center;
   font-size: 2.2rem;
   margin-bottom: 2rem;
}

section#contato div#form form{
   width: 60%;
}

/* A virgula serve para estilizar dois elementos ao mesmo tempo */
section#contato div#form form input, textarea{
   width: 100%;
   padding: .5rem;
   font-size: 1.1rem;
   border: 1px solid #ccc;
   margin-top: .5rem;
   margin-bottom: 1rem;
   outline: none; /* Retira a borda do input quando clico dentro dele */
}

section#contato div#form form label{
   font-size: 1.5rem;
}

section#contato div#form form button{
   border: 1px solid #3359ec;
   background-color: #fff;
   color: #3359ec;
   padding: 1rem;
   font-size: 1.2vw;
   font-weight: 500;
   border-radius: .5rem;
   display: block;
   margin: auto;
   cursor: pointer;
   transition: .6s ease-out;
   width: 40%;
}

section#contato div#form form button:hover{
   background-color: #3359ec;
   color: #fff;
   transform: scale(1.2);
}

footer{
   padding: 1rem;
   background-color:#22577a;
   justify-content: center;
   display: flex;
   color: #fff;
   font-size: 1.3rem;
}

footer span{
   margin-left: 2rem;
   justify-content: center;
   display: flex;
   text-align: center;


}

footer img{
   padding-left:2rem ;
   width: 2rem;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
}
section#contato div#carregamento{
   display: none; /* Deixa o display none para não aparecer até que você clique no botão enviar (ver JS) */
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 3rem;
 }
 
 section#contato div#carregamento p{
   color: #22577a;
   font-weight: 700;
   font-size: 2rem;
   width: 100%;
   text-align: center;
   padding: 2rem;
 }
 
 section#contato div#carregamento div#loader{
   border: 13px solid #fff;
   border-radius: 50%;
   border-top: 13px solid #22577a;
   border-bottom: 13px solid #22577a;
   width: 80px;
   height: 80px;
   /* Anima o elemento div#loader criando a variável spin, em 2s de forma linear e infinita */
   animation: spin 2s linear infinite;
 }
 
 /* Anima a variável spin do animation */
 @keyframes spin {
   0% {  /* Começa em 0% */
     transform: rotate(0deg); /* Rotação do elemento no 0° */ 
   } 
   100% { /* Vai até 100% */
     transform: rotate(360deg); /* Rotação do elemento em 360° */ 
   }
 }
 
 
 /* Página Send */
 
 section#success{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   
   
 }
 
 section#success div#card{
   background-image: linear-gradient(to right, #22577a, transparent);
   text-align: center;
   padding: 4rem;
   border-radius: 2rem;
   color:black;
   width: 40%;
   background-color: #ccc;
   border-radius: 5rem;
 }
 
 section#success div#card h1{
   margin: 2rem 0rem;
 }
 
 section#success div#card i{
   font-size: 5rem;
 }
 
 section#success div#card h3{
   margin-bottom: 2rem;
 }
 
 section#success div#card p{
   margin-bottom: 3rem;
   width: 100%;
   word-break: break-word;
 }
 
 section#success div#card a{
   border: 1px solid #3359ec;
   background-color: #fff;
   color: #3359ec;
   padding: 1rem;
   font-size: 1.2vw;
   font-weight: 500;
   border-radius: .5rem;
   display: block;
   margin: auto;
   cursor: pointer;
   transition: .6s ease-out;
   width: 30%;
   text-decoration: none;
   border-radius: 3rem;
 }
 
 section#success div#card a:hover{
   background-color:#22577a;
   color: #fff;
   border: #3359ec;
   box-shadow: #ccc .5rem .5rem;
   transform: scale(1.2);
   border-radius: 3rem;
 }