@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
    
}

header {
    background-image: url(../img/background-spfc-1.jpg); /* Pega a imagem de fundo */
    background-repeat: no-repeat; /* Faz a imgem de fundo preencher todo o espaço em que ela está */
    background-size: cover;
    background-position:center; /* Centraliza a imagem de fundo */
    height: 300px;
    width: 100%;
    
}

header h1{
    padding: 5rem;
    color:#fff;
    font-weight: 700;
    font-size: 4rem;
    text-shadow: .3rem .3rem #a80000;
    text-align:center;
    justify-content:center;
    display: flex;

}

section img#footer{
    opacity: .7;
    display: flex;
    background-size: cover;
    flex-wrap: wrap;
    width: 100%;
    height: 80rem;
    padding: .1rem;
    align-items: center;
    align-content: center;
    


}
section img#footer:hover{
    transform:scale(1.1);
    transition:all 0.6s ease;
    opacity: 1;
    display: flex;
    
}

section#infos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    text-shadow: .1rem 1rem 2rem  black;
    font-size: 1rem;
    margin-bottom: .1rem;
    
    
}


section#infos div#txt{
    padding: 5rem;
    color:#a80000;
    text-align: center;
    justify-content: left;
    margin-bottom: .1rem;
}


section#infos div#txt h2{
    padding: 1rem;
    font-size: 5rem;
    font-weight: 400;
    justify-content: left;
    
}

section#infos div#txt h3{
    padding: 2rem;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    display: flex;
    justify-content: left;
}

section#infos div#txt button{
    padding: 1.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 1.5rem;
    transition: all .5s ease-out;
    cursor: pointer;
    justify-content: center;
    display: flex;
    margin-top: .1rem;
}

section#infos div#txt button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px #ffffff50;
    background-color: #a80000;
    color: #fff;
    justify-content: center;
    display: flex;
    
}

section#infos div#img{
    justify-content: center;
    display:flex;
    
}

section#infos div#img img{
    width: 90%;
    border-radius: 6rem;
    display: flex;
    transform: scaleX(1);
    
}
section#infos div#img img:hover{
    transform: scale(1.2, 1.2);
    transition: all .5s ease-out ;
}
