@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
/* comentario */

body p {
    padding: 1rem;
    font-weight: 700;
    justify-content:center;
    text-align: left;
    margin-left: 5%;
    color: red;
}

body input {
    padding: 0.5rem;
    margin-bottom: 3%;
    margin-left: 10%;

}


body div img{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    
    
}

body div p{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-bottom: 1rem;
    
}

body div span{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-bottom: 2rem;
    color: black;
    
}

body div input{
    margin-top: 1rem;
    margin-left: 48%;    
    padding: 1rem;
    border-radius: 1rem;
    transition: .2s ease-out;
    cursor: pointer;

    
}


body div input:hover {
    background-color:rgba(250, 4, 4, 0.644);
    color: white;
    transform: scale(1.2);
    align-items: center;   
}