@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
/* comentario */

body h1 {
    padding: 1rem;
    display: flex;
    font-weight: 700;
    justify-content:center;    
    color:#A80000;
    font-weight: 700;
}

body input {
    padding: 0.5rem;
    display: flex;

}


body div img#Imagem{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    width: 40% ;
    height: 40% ;
    transition: .3s ease-out;
    
}
body div img:hover {
    transform: scale(1.2);
    align-items: center;
}

body div p{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-bottom: 1rem;
    
}

body div span{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-bottom: 2rem;
    color: #555555;
    font-weight: 700;
    margin-bottom: 2rem;
    
}

body div input{
    margin-top: 3rem;
    margin-left: 45%;    
    padding: 1rem;
    border-radius: 1rem;
    transition: .3s ease-out;
    cursor: pointer;
    border-style:solid;
    border-color: #A80000;
    color: #A80000;
    font-weight: 500;
    height: 5rem;
    width: 10rem;
    justify-content: center;
    
}


body div input:hover {
    background-color:#A80000;
    color: white;
    transform: scale(1.2);
    align-items: center;   
    justify-content: center;
}